/* @group RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}

/* @end */

/* @group Main */

body {
  margin: 0px 0px 20px 0px;
  text-align: left;
  font: normal 14px Arial, sans-serif;
  line-height: 1.5em;
  color: #111;
  background-color: #fff;
}

H1, H2, H3, H4 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 8px 0px 14px 0px;
}

H1 { font-size: 2.2em; }
H2 { font-size: 1.9em; line-height: 1.35em; margin-top: 20px; margin-bottom: 0px;}
H3 { font-size: 1.2em; }
H4 { font-size: 1.0em; }

BODY.homepage .post H2 {
  margin-bottom: 0px;
  font-size: 1.6em;
}

A {
  color: #2266bb;
}

A:hover {
  color: #ff0000;
}

P {
  margin: 16px 0px;
}

UL, OL {
  padding-left: 1.9em;
}

UL {
    list-style-type: disc;
}

OL {
    list-style-type: decimal;
}

LI {
  list-style-position: outside;
}

STRONG { font-weight: bold; }

SMALL {
   font-size: 0.8em;
}

EM { font-style: italic; }

A.home {
  text-decoration: none;
}

/* @end */

/* @group Blocks */

#content {
  padding-left: 0px;
  padding-right: 220px;
  margin-top: 18px;
  /* float: left; */
}

.post {
	padding-left: 2em;
	margin-bottom: 1.4em;
}

.post A {
  font-weight: bold;
}

BODY.inner .entry {
  line-height: 1.6em;
}

#header {
  margin-top: 0px;
  height: 36px;
  background-color: #eee;
  border-bottom: 14px solid #c00;
  margin-bottom: 12px;
}

#header #stuff {
  position: absolute;
  top: 8px;
  right: 20px;
}

#header H1 {
  color: #c00;
  font-size: 32px;
  letter-spacing: -1px;
  position: absolute;
  top: 1px;
  left:  18px;
}

#sidebar {
  position: absolute;
  width: 180px;
  right: 10px;
  top: 0px;
  padding: 0px 0px 0px 0px;
  font-size: 0.9em;
  line-height: 1.5em;
}

#page {
  position: relative;
  margin: 0px 20px;
}

BLOCKQUOTE {
  background-color: #def;
  padding: 10px;
  margin: 2em 1em;
  position: relative;  
}

CODE {
	font-family: "Liberation Mono", Monaco, "Courier New", monospace;
	font-size: 13px;
}

.date {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

BODY.inner .date {
  font-size: 14px;
  color: #999;
}

.leftright {
	height: 24px;
}

.leftright .left {
	float: left;
}

.leftright .right {
	float: right;
}

.leftright A {
  color: #888;
  font-family: verdana;
  font-size: 12px;
}

blockquote span.a, blockquote span.b { 
  font-family: helvetica, arial; font-size: 50px; color: #8ac;
}

blockquote span.a {position:absolute;top:0px;left:-10px; }
blockquote span.b {position:absolute;bottom:-20px;right:0px; height: 20px;}

blockquote.yellow { background-color: #fe7; }
blockquote.yellow span.a, blockquote.yellow span.b { color: #dc5; }

blockquote.green { background-color: #df7; }
blockquote.green span.a, blockquote.green span.b { color: #cd5; }

blockquote.comment { background-color: #f0f0f0; }
blockquote.comment span.a, blockquote.comment span.b { color: #ddd; }

blockquote.usercomment { background-color: #def; }
blockquote.usercomment span.a, blockquote.usercomment span.b { color: #8ac; }

blockquote cite {
  display: block;
  text-align: right;
}

/* @end */

/* @group Content */

#content .metadata {
  color: #999;
  margin: 0px; margin-top: 0px;
  border-top: 0px solid #ccc;
  padding-bottom: 0px;
  line-height: 17px;  
}

#content .metadata, BLOCKQUOTE CITE {
  font-size: 11px;
  font-family: verdana, arial, sans-serif; 
}



#comments {
  /* border-top: 4px solid #ccc; */
  margin-top: 18px;
  padding-left: 2em;
}

#comments H3 {
  color: #44689b;
  margin-top: 0.8em;
}

#comments A:hover {
  color: #ff0000;
}

#content .metadata A, BLOCKQUOTE CITE A {
  color: #888;
}

/* @end */


/* @group Fixes */
.floatcontainer:after{
    content: "."; 
    display: block; 
    height: 0; 
    font-size:0;	
    clear: both; 
    visibility:hidden;
    }
	
.floatcontainer { display: inline-block; clear: both;}
.float { clear: both; }

* html #content {
  height: 1%;
}

/* @end */

/* @group Misc */

P.message {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #999;
  margin-bottom: 14px;
}

.rubyred {
  font-weight: bold;
  color: #c00;
}

#comments TEXTAREA {
width: 500px; height: 220px;
}

#captcha_display SUP {
   display: none;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#captcha_display {
  background-color: #c00;
  color: #fff;
  font-size: 24px;
  padding: 12px;
  width: 280px;
  height: 24px;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 5px;
}

H1 A { color: #c00; }

/* @end */

/* @group Sites */

BODY.rubyflow #header { border-bottom-color: #c00; }
BODY.pythonflow #header { border-bottom-color: #490; }
BODY.rubyflow #header H1 A { color: #c00; }
BODY.pythonflow #header H1 A { color: #490; }
BODY.rubyflow .rubyred { color: #c00; }
BODY.pythonflow .rubyred { color: #490; }

BODY.rubyflow A { color: #2266bb; }
BODY.rubyflow A:hover { color: #ff0000; }
BODY.rubyflow .entry A:visited { text-decoration: none; }
BODY.pythonflow A { color: #2266bb; }
BODY.pythonflow A:hover { color: #009900; }
BODY.pythonflow .entry A:visited { text-decoration: none; }


/* @end */